 body { 
            background: green; 
        } 
  
        h2 { 
            display: flex; 
            color: white; 
        } 
		
		h2 { 
            display: flex; 
            color: white; 
        } 
		
  
        span::before { 
            content: "Web Devloper"; 
            animation: animate infinite 6s; 
            padding-left: 10px; 
        } 
  
        @keyframes animate { 
  
            0% { 
                content: "Data Analyst"; 
            } 
  
            50% { 
                content: "IOT Engineer"; 
            } 
  
        } 